IyBTZWUgaHR0cHM6Ly9oZWxwLmdpdGh1Yi5jb20vYXJ0aWNsZXMvaWdub3Jp
bmctZmlsZXMvIGZvciBtb3JlIGFib3V0IGlnbm9yaW5nIGZpbGVzLgoKIyBk
ZXBlbmRlbmNpZXMKL25vZGVfbW9kdWxlcwovLnBucAoucG5wLmpzCi52c2Nv
ZGUqCi5ueWNfb3V0cHV0CgoKIyB0ZXN0aW5nCi9jb3ZlcmFnZQovY3lwcmVz
cy92aWRlb3MKL2N5cHJlc3Mvc2NyZWVuc2hvdHMKcmVwb3J0cwoKIyBuZXh0
LmpzCi8ubmV4dC8KL291dC8KCiMgcHJvZHVjdGlvbgovYnVpbGQKCiMgbWlz
YwouRFNfU3RvcmUKKi5wZW0KCiMgZGVidWcKbnBtLWRlYnVnLmxvZyoKeWFy
bi1kZWJ1Zy5sb2cqCnlhcm4tZXJyb3IubG9nKgp5YXJuLmxvY2sKCiMgbG9j
YWwgZW52IGZpbGVzCi5lbnYubG9jYWwKLmVudi5kZXZlbG9wbWVudAouZW52
LnRlc3QubG9jYWwKLmVudi5wcm9kdWN0aW9uKgoKIyB2ZXJjZWwKLnZlcmNl
bAoKIyB0eXBlc2NyaXB0CioudHNidWlsZGluZm8K
